In [5]:
# Initial imports
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [6]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv(dotenv_path='C:/Users/saif_/OneDrive/Desktop/APIkeys.env.txt')

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

Python-dotenv could not parse statement starting at line 6

In [7]:
 # Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [8]:
# Set current amount of crypto assets
my_btc = 1.2
my_eth = 5.3

In [9]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

btc_url = btc_url + "?format=json"
eth_url = eth_url + "?format=json"

In [10]:
# Fetch current BTC price
btc_price = requests.get(btc_url)

# Fetch current ETH price
eth_price = requests.get(eth_url)

In [11]:
# Submit request and format output
btc_url = btc_url + "?format=json"
response_data = requests.get(btc_url).json()

# Fetch current BTC price
my_btc_value = response_data['data']['1']['quotes']['USD']['price']


# Submit request and format output
eth_url = eth_url + "?format=json"
response_data = requests.get(eth_url).json()

# Fetch current ETH price 
my_eth_value = response_data['data']['1027']['quotes']['USD']['price']


# Compute current value of my crpto
eth_value = my_eth * my_eth_value
btc_value = my_btc * my_btc_value

# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${eth_value:0.2f}")

The current value of your 1.2 BTC is $24873.60
The current value of your 5.3 ETH is $6284.95

In [12]:
# Set current amount of shares
my_agg = 200
my_spy = 50

In [16]:
# Set Alpaca API key and secret key

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [19]:
# Format current date as ISO format
start = pd.Timestamp("2015-09-10", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-09-10", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["AGG", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
df_portfolio_year = api.get_bars(
    tickers,
    timeframe,
    start = start,
    
    limit = 1000
).df

# Display sample data
df_portfolio_year.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,108.54,108.8400,108.43,108.82,4259986,15562,108.754152,AGG
2015-12-02 05:00:00+00:00,108.73,108.7799,108.61,108.67,2462787,11581,108.684692,AGG
2015-12-03 05:00:00+00:00,108.41,108.4100,107.81,107.89,4634020,16801,108.040315,AGG
2015-12-04 05:00:00+00:00,108.05,108.3000,108.00,108.24,2182057,9796,108.192232,AGG
2015-12-07 05:00:00+00:00,108.30,108.5800,108.23,108.40,2143773,9104,108.460067,AGG

In [104]:
# Reorganize the DataFrame
# Separate ticker data
AGG = df_ticker[df_ticker['symbol']=='AGG'].drop('symbol', axis=1)
SPY = df_ticker[df_ticker['symbol']=='SPY'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_ticker = pd.concat([AGG, SPY], axis=1, keys=["AGG","SPY"])
 
# Display sample data
df_ticker.head()

                              AGG                                     \
                             open      high     low   close   volume
timestamp
2015-12-01 05:00:00+00:00  108.54  108.8400  108.43  108.82  4259986
2015-12-02 05:00:00+00:00  108.73  108.7799  108.61  108.67  2462787
2015-12-03 05:00:00+00:00  108.41  108.4100  107.81  107.89  4634020
2015-12-04 05:00:00+00:00  108.05  108.3000  108.00  108.24  2182057
2015-12-07 05:00:00+00:00  108.30  108.5800  108.23  108.40  2143773

                                                   SPY                        \
                          trade_count        vwap open high low close volume
timestamp
2015-12-01 05:00:00+00:00       15562  108.754152  NaN  NaN NaN   NaN    NaN
2015-12-02 05:00:00+00:00       11581  108.684692  NaN  NaN NaN   NaN    NaN
2015-12-03 05:00:00+00:00       16801  108.040315  NaN  NaN NaN   NaN    NaN
2015-12-04 05:00:00+00:00        9796  108.192232  NaN  NaN NaN   NaN    NaN
2015-12-07 05:00:00+00:00        9104  108.460067  NaN  NaN NaN   NaN    NaN


                          trade_count vwap
timestamp
2015-12-01 05:00:00+00:00         NaN  NaN
2015-12-02 05:00:00+00:00         NaN  NaN
2015-12-03 05:00:00+00:00         NaN  NaN
2015-12-04 05:00:00+00:00         NaN  NaN
2015-12-07 05:00:00+00:00         NaN  NaN

In [105]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices for all the tickers
for ticker in tickers:
    df_closing_prices[ticker] = df_ticker[ticker]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head()

               AGG  SPY
2015-12-01  108.82  NaN
2015-12-02  108.67  NaN
2015-12-03  107.89  NaN
2015-12-04  108.24  NaN
2015-12-07  108.40  NaN

In [ ]:
# Pick AGG and SPY close prices
agg_close_price = float(df_portfolio_year["AGG"]["close"][0]) 
spy_close_price = float(df_portfolio_year["SPY"]["close"][0])

# Print AGG and SPY close prices
print(f"Current AGG closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

In [ ]:
# Compute the current value of shares
my_agg_value = agg_close_price * my_agg
my_spy_value = spy_close_price * my_spy

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0.2f}")

In [ ]:
# Set monthly household income
monthly_income = 12000

# Consolidate financial assets data

crypto = eth_value + btc_value
shares = my_agg_value + my_spy_value

amount_data = {
    "amount":[crypto,shares]
}

index_data = ["crypto", "shares"]

# Create savings DataFrame
df_savings = pd.DataFrame(amount_data, index=index_data)

# Display savings DataFrame
display(df_savings)

In [ ]:
 Plot savings pie chart
df_savings.plot.pie(y="amount", title="Composition of Personal Savings"

In [21]:
?MCSimulation

Init signature:
MCSimulation(
    portfolio_data,
    weights='',
    num_simulation=1000,
    num_trading_days=252,
)
Docstring:
A Python class for runnning Monte Carlo simulation on portfolio price data.

...

Attributes
----------
portfolio_data : pandas.DataFrame
    portfolio dataframe
weights: list(float)
    portfolio investment breakdown
nSim: int
    number of samples in simulation
nTrading: int
    number of trading days to simulate
simulated_return : pandas.DataFrame
    Simulated data from Monte Carlo
confidence_interval : pandas.Series
    the 95% confidence intervals for simulated final cumulative returns

Init docstring:
Constructs all the necessary attributes for the MCSimulation object.

Parameters
----------
portfolio_data: pandas.DataFrame
    DataFrame containing stock price information from Alpaca API
weights: list(float)
    A list fractions representing percentage of total investment per stock. DEFAULT: Equal distribution
num_simulation: int
    Number of simulation samples. DEFAULT: 1000 simulation samples
num_trading_days: int
    Number of trading days to simulate. DEFAULT: 252 days (1 year of business days)
File:           c:\users\saif_\downloads\mcforecasttools.py
Type:           type
Subclasses:

In [33]:
# Get 5 years' worth of historical data for SPY and AGG
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-05-01', tz='America/New_York').isoformat()

In [35]:
# Get 5 years' worth of historical data for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)

# Set the tickers
tickers = ["AGG", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
df_stock_data = api.get_bars(
    tickers,
    timeframe,
    start = start_date,df_stock_data
    end = end_date,df_stock_data
    limit = 1000
).df

# Display sample data
df_stock_data.head()

SyntaxError: positional argument follows keyword argument (2957575985.py, line 16)

In [1]:
# Set number of simulations
num_sims = 1000

# Configure a Monte Carlo simulation to forecast 30 years cumulative returns
MC_Daily = MCSimulation(
    portfolio_data = df_stock_data
    weights = [0.40,0.60],
    num_simulation = num_sims,
    num_trading_days = 252*30
)

SyntaxError: invalid syntax (2761718237.py, line 7)

In [26]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
MC_Daily.calc_cumulative_return()

NameError: name 'MC_Daily' is not defined

In [11]:
# Plot simulation outcomes
line_plot = MC_Daily.plot_simulation()

NameError: name 'MC_Daily' is not defined

In [13]:
# Plot probability distribution and confidence intervals
dist_plot = MC_Daily.plot_distribution()

NameError: name 'MC_Daily' is not defined

In [14]:
# Fetch summary statistics from the Monte Carlo simulation results
sum_tbl = MC_Daily.summarize_cumulative_return()

# Print summary statistics
print(sum_tbl)

NameError: name 'MC_Daily' is not defined

In [15]:
# Set initial investment
initial_investment = 20000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
ci_lower = round(sum_tbl[8]*initial_investment,2)
ci_upper = round(sum_tbl[9]*initial_investment,2)

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

NameError: name 'sum_tbl' is not defined

In [36]:
# Set initial investment
initial_investment = 20000 * 1.5

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
ci_lower = round(sum_tbl[8]*initial_investment,2)
ci_upper = round(sum_tbl[9]*initial_investment,2)

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

NameError: name 'sum_tbl' is not defined